.p-visual {
  height: 38.5vw;
  width: 96%;
  margin: auto;
  background: url(../images/pic_index01.jpg) no-repeat center center;
  background-size: 100% auto;
}

.p-newpost {
  margin-top: 40px;
  padding: 80px 0;
  background: -webkit-linear-gradient(top, #fff 0%, #fff 160px, #f7edea 160px, #f7edea 100%);
  background: -o-linear-gradient(top, #fff 0%, #fff 160px, #f7edea 160px, #f7edea 100%);
  background: linear-gradient(180deg, #fff 0%, #fff 160px, #f7edea 160px, #f7edea 100%);
}

.p-newpost h2 {
  position: absolute;
  left: -40px;
  top: -50px;
}

.p-newpost h2 img {
  width: 390px;
}

.p-newpost .l-container {
  max-width: 1100px;
  width: 90%;
  position: relative;
}

.c-new__text {
  margin: 140px 0 0 80px;
}

.c-new__textcontents {
  margin-bottom: 40px;
}

.c-new__date {
  font-size: 14px;
  margin-bottom: 12px;
  display: block;
}

.c-new__title {
  font-size: 20px;
  display: block;
}

.c-new__category {
  margin-top: 12px;
}

.c-new__category a {
  font-size: 14px;
  color: #ef9c9c;
  text-decoration: underline;
}

.c-new__category a:hover {
  color: #e57777;
}

.p-journal {
  padding: 80px 0;
}

.p-journal ul {
  margin: 40px 0;
}

.p-journal .u-flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.p-journal .c-btn a {
  margin: auto;
}

.c-post {
  width: 30%;
  position: relative;
}

.c-post h4 {
  font-size: 16px;
}

.c-post__img {
  width: 100%;
  margin-bottom: 12px;
  display: block;
}

.c-post__img img {
  width: 100%;
}

.c-post__date {
  color: #aaa;
  font-size: 12px;
  letter-spacing: 2px;
  position: absolute;
  top: -10px;
  right: -6px;
  display: inline-block;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: rotate(90deg) translate(100%, 0);
  -ms-transform: rotate(90deg) translate(100%, 0);
  transform: rotate(90deg) translate(100%, 0);
}

.c-post__category {
  margin-top: 8px;
}

.c-post__category a {
  color: #ef9c9c;
  font-size: 12px;
  text-decoration: underline;
}

.c-post__category a:hover {
  color: #e57777;
}

.p-photo {
  margin-bottom: 60px;
  position: relative;
}

.p-photo__main {
  position: absolute;
  top: 70px;
  right: 0;
}

.c-photocontents {
  padding: 130px 0;
  background: -webkit-gradient(linear, left top, right top, from(#f7edea), color-stop(60%, #f7edea), color-stop(60%, #fff), to(#fff));
  background: -webkit-linear-gradient(left, #f7edea 0%, #f7edea 60%, #fff 60%, #fff 100%);
  background: -o-linear-gradient(left, #f7edea 0%, #f7edea 60%, #fff 60%, #fff 100%);
  background: linear-gradient(90deg, #f7edea 0%, #f7edea 60%, #fff 60%, #fff 100%);
}

.c-photocontents__textbox {
  padding-left: 50px;
}

.c-photocontents__text {
  margin: 40px 0 60px;
}

.p-about {
  margin-top: -60px;
  padding: 140px 0 60px;
  background: #fbf9f8;
}
