
.p-newpost{
  margin-top: 40px;
  padding: 80px 0;
  background: linear-gradient(180deg, #fff 0%,#fff 160px, #f7edea 160px,#f7edea 100%);
  h2{
    position: absolute;
    left: -40px;
    top: -50px;
    img{
      width: 390px;
    }
  }
  .l-container{
    max-width: 1100px;
    width: 90%;
    position: relative;
  }
}

.c-new{
  &__text{
    margin: 140px 0 0 80px;
  }
  &__textcontents{
    margin-bottom: 40px;
  }
  &__date{
    font-size: 14px;
    margin-bottom: 12px;
    display: block;
  }
  &__title{
    font-size: 20px;
    display: block;
  }
  &__category{
    margin-top: 12px;
    a{
      font-size: 14px;
      color: #ef9c9c;
      text-decoration: underline;
      &:hover{
        color: #e57777;
      }
    }
  }
}
