
.p-newpost{
  margin-top: 40px;
  padding: 80px 0;
  background: linear-gradient(180deg, #fff 0%,#fff 160px, #f7edea 160px,#f7edea 100%);
  @media screen and (max-width: 1000px){
    margin-top: 20px;
    background: linear-gradient(180deg, #fff 0%,#fff 140px, #f7edea 140px,#f7edea 100%);
  }
  @media screen and (max-width: 767px){
    padding: 60px 0;
  }
  h2{
    position: absolute;
    left: -40px;
    top: -50px;
    @media screen and (max-width: 1000px){
      left: -30px;
    }
    @media screen and (max-width: 700px){
      left: -10px;
    }
    img{
      width: 390px;
      @media screen and (max-width: 1000px){
        width: 300px;
      }
      @media screen and (max-width: 700px){
        width: 250px;
      }
    }
  }
  .l-container{
    max-width: 1100px;
    width: 90%;
    position: relative;
  }
  .u-flex{
    @media screen and (max-width: 700px){
      display: block;
    }
  }
}

.c-new{
  &__text{
    margin: 140px 0 0 80px;
    @media screen and (max-width: 1150px){
      margin: 140px 0 0 60px;
    }
    @media screen and (max-width: 1000px){
      margin: 100px 0 0 40px;
    }
    @media screen and (max-width: 700px){
      margin: 40px 0 0 0;
    }
  }
  &__img{
    @media screen and (max-width: 1000px){
      width: 460px;
    }
    @media screen and (max-width: 900px){
      width: 400px;
    }
    @media screen and (max-width: 800px){
      width: 350px;
    }
    @media screen and (max-width: 700px){
      width: 100%;
    }
    img{
      @media screen and (max-width: 700px){
        width: 100%;
      }
    }
  }
  &__textcontents{
    margin-bottom: 40px;
  }
  &__date{
    font-size: 14px;
    margin-bottom: 12px;
    display: block;
  }
  &__title{
    font-size: 20px;
    display: block;
    @media screen and (max-width: 1000px){
      font-size: 18px;
    }
  }
  &__category{
    margin-top: 12px;
    a{
      font-size: 14px;
      color: #ef9c9c;
      text-decoration: underline;
      &:hover{
        color: #e57777;
      }
    }
  }
}
