body{
  color: #555;
  font-family: 'Noto Sans JP',"Hiragino Kaku Gothic Pro",'Open Sans','Noto Sans JP',"ＭＳ Ｐゴシック","MS PGothic","メイリオ",Verdana,Arial,sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  position: relative;
}

a{
  color: #555;
  text-decoration: none;
  transition: 0.3s ease-in-out all;
  &:hover{
    color: #ccc;//#f2bcad
  }
}

img{
  max-width: 100%;
}

h3{
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  letter-spacing: 4px;
  padding-right: 110px;
  position: relative;
  display: inline-block;
  &:before{
    content: '';
    width: 100px;
    height: 1px;
    margin: auto;
    background: #555;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
