.l-footer{
  font-family: 'Open Sans', sans-serif;
  background: #fbf9f8;
}

.p-footercontents{
  font-size: 14px;
  border-top: 1px solid #999;
  &__logo{
    @media screen and (max-width: 767px){
      text-align: center;
    }
    img{
      width: 75px;
    }
  }
  &__menu{
    @media screen and (max-width: 767px){
      width: 80%;
      margin: 40px auto 0;
    }
    @media screen and (max-width: 550px){
      width: 100%;
    }
    &.u-flex{
      @media screen and (max-width: 767px){
        justify-content: space-between;
      }
    }
  }
  &__copyright{
    font-size: 12px;
    padding-bottom: 16px;
  }
  a{
    padding: 0 24px;
    display: block;
    @media screen and (max-width: 450px){
      padding: 0 16px;
    }
    @media screen and (max-width: 350px){
      padding: 0 8px;
    }
  }
  .c-contents{
    padding: 32px 0 24px;
    &.u-flex{
      justify-content: space-between;
      @media screen and (max-width: 767px){
        display: block;
      }
    }
  }
}
