
.l-header{
  font-family: 'Open Sans', sans-serif;
  width: 94%;
  margin: auto;
  h1{
    img{
      width: 75px;
    }
  }
}

.p-headercontents{
  font-size: 16px;
  padding: 32px 0 24px;
  @media screen and (max-width: 900px){
    font-size: 14px;
  }
  &.u-flex{
    justify-content: space-between;
    @media screen and (max-width: 767px){
      display: block;
    }
  }
}

.p-headermenu{
  &.u-flex{
    @media screen and (max-width: 767px){
      display: block;
    }
  }
  li{
    padding: 0 24px;
    a{
      position: relative;
      display: block;
      @media screen and (max-width: 767px){
        font-size: 16px;
        padding: 20px 0 20px 30px;
      }
      &:before{
        @media screen and (max-width: 767px){
          content: '';
          width: 20px;
          height: 1px;
          margin: auto;
          background: #555;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
  &__subja{
    font-size: 12px;
    padding-left: 8px;
    display: inline-block;
  }
}

//spbtn

.p-spmenu{
  position: fixed;
  top:  20px;
  right: 20px;
  z-index: 11;
}

.c-spbtn{
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  span{
    width: 20px;
    height: 2px;
    margin: auto;
    background: #555;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transition: all 0.5s;
    &:nth-of-type(1){
      transform: translate(0, -5px);
    }
    &:nth-of-type(2){
      transform: translate(0, 0);
    }
    &:nth-of-type(3){
      transform: translate(0, 5px);
    }
  }

  &.active{
    border: 1px solid #ef9c9c;
    span{
      background: #ef9c9c;
      &:nth-of-type(1){
        transform: translate(0, 0px) rotate(45deg);
      }
      &:nth-of-type(2){
        transform: translate(0px, 0px) scale(0, 1) rotate(0deg);
      }
      &:nth-of-type(3){
        transform: translate(0, 0px) rotate(-45deg);
      }
    }
  }
}

//spmenu

.c-spheadermenu{
  @media screen and (max-width: 767px){
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.5s;
    transform: translate(0, 100%);
  }
  &__menulogo{
    margin: 34px 24px;
    img{
      width: 75px;
    }
  }
  &.open{
    @media screen and (max-width: 767px){
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }
}