
.l-header{
  width: 94%;
  margin: auto;
  h1{
    img{
      width: 75px;
    }
  }
}

.p-headercontents{
  font-size: 16px;
  padding: 32px 0 24px;
  &.u-flex{
    justify-content: space-between;
  }
  li{
    padding: 0 24px;
  }
}