.l-container{
  max-width: 1200px;
  width: 94%;
  margin: 0 auto;
}

.u-pc{
  @media screen and (max-width: 767px){
    display: none;
  }
}

.u-sp{
  @media screen and (min-width: 768px){
    display: none;
  }
}

.u-center{
  text-align: center;
}

.u-flex{
  display: flex;
}